body {
  font-family: Arial, sans-serif; /* Cambio de tipo de fuente */
  font-size: 20px;
  text-align: center;
  background-color: #31577b;
  color: white; /* Cambio del color del texto a blanco */
}

.white-text {
  color: white; /* Aplicación del color blanco solo a los elementos con la clase 'white-text' */
}

.galeria {
  margin: 0 auto;
  display: flex;
  width: 700px;
  height: 700px;
  background-color: #ccc;
}

.galeria img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  filter: brightness(80%);
  transition: .7s ease;
}

.galeria img:hover {
  width: 500px;
  opacity: 1;
  filter: brightness(130%);
}
.h1{font-family: 'Montserrat', sans-serif;}